{% extends "base.html.twig" %}

{% block body %}

  <footer class="px-7 shadow-inner text-white bg-black ">
    <div class="flex justify-between p-4">
        <p>mentions légales</p>
        <p>copyright</p>
    </div>
    
  </footer>  

{% endblock %}