{% extends "base.html.twig" %}

{% block title %}Ajouter un restaurant{% endblock %}

{% block body %}

    <div class="px-10 pt-10">
    
        <div class="mb-6">
            <a href="{{ path('accueil')}}" class="text-2xl font-bold text-green-500">RestoRate</a>
        </div>

        <h1 class="text-center text-2xl font-bold">Ajouter un restaurant</h1>

        {% include "_Partials/_formResto.html.twig" %}
    
    </div>

{% endblock %}